{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}Process complete - {{ serviceName }}{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

     <div class="nhsuk-panel nhsuk-u-margin-bottom-6">

                <span class="nhsuk-panel__caption">Based on what
                    you've told us</span>
    
                <h1 class="nhsuk-panel__title">
                    You get help with prototype upgrades
                </h1>
                <div class="nhsuk-panel__body">
                    Your reference number is <strong>HDJ2123F</strong>
                </div>
            </div>
      
      {{ actionLink({
      text: 'Back to start page',
      href: '/'
    }) }}

    </div>
  </div>
{% endblock %}
