{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}NHS prototype kit releases with node versions - {{ serviceName }}{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Go back'
  }) }}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

     <h1 class="nhsuk-heading-l">NHS prototype kit releases with node versions</h1>

     <p class="nhsuk-body">This information is loaded from an <a class="nhsuk-link" href="https://miro.com/app/board/uXjVIxEbwEY=/?share_link_id=164136494784">Excel spreadsheet into the prototype's session data (opens in new tab)</a>.</p>
        
    {% if data.debug === 'true' %}
      <textarea>{{ data | dump }}</textarea>
    {% endif %}

    {{ table({
      panel: false,
      caption: 'Releases',
      firstCellIsHeader: false,
      head: [
        {
          text: 'Release'
        },
        {
          text: 'Version'
        },
        {
          text: 'Date'
        },
         {
          text: 'Notes'
        }
      ],
      rows: data.versions | getTableRows
    }) }}

    {{ button({
      text: 'Continue',
      href: 'confirmation'
    }) }}
      

    </div>
  </div>
{% endblock %}
